

mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form-group')
    label(class='form-label' for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin topicQuestions(question)
    a(href=`/questions/${question.id}`) content = #{question.content}
    p.
        userId = #{question.userId}
        topicId = #{question.topicId}

mixin question(question)
    a(href=`/questions/${question.id}`) #{question.content}
    p.
       Topic: #{question.Topic.name}
    p.
       Username: #{question.User.userName}

mixin topic(topic)
      a.topic-link(href=href=`/topics/${topic.id}`) #{topic.name}


mixin csurf(csrfToken)
    input(type='hidden' name='_csrf' value=csrfToken)
